@import 'styles/variables';

.smallBasket {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 35px;
  top: 45px;
  background-color: $color3;
  border: 1px solid $color4;
  border-radius: 4px;
  padding: 0 10px;
  line-height: 2;

  .symbolContainer {
    display: flex;
    line-height: 1;
    width: 100%;
    justify-content: flex-end;
    padding-top: 5px;

    svg {
      cursor: pointer;
    }
  }

  h4 {
    line-height: 15px;
    padding: 0 10px;
  }

  ul {
    list-style: none;
    padding-left: 5px;
    li {
      span{
        font-weight: 900;
        padding-right: 15px;
        cursor: pointer;
      }
    }
  }
}

.widgetBasket{
  position: fixed;
  right: 5vw;
  bottom: 10vh;
  cursor: pointer;
  color: $color3;
}
.widgetBasket:hover{
  color: $color4;
}