
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-pink: #a57e7f;
$background-pink: #ECE0E1;
$color-menu-pink: #FDEAEB;
$color-pantone: #7FFFD4;
$color-menuBorder: #551a8b;

$color-black-text: #111211;


$color1 : #ffce31;
$color2 : #efff65;
$color3 : #2a1800;
$color4 : #7b7672;
$color5 : #e2e2e2;
